*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameName{
    text-align: center;
    font-size: 65px;
}

#gesturesCont{
display: flex;
justify-content: center;
align-items: center;
gap: 80px;
}

.gestures img{
    border-radius: 15px;
    height: 300px;
    width: 300px;
    border: 2px solid black;
    border-radius: 15px;
    transition: all 0.25s ease;
}

.hoverbox{
    background-color: rgba(83, 81, 81, 0.25);
    border-radius: 15px;
}

.gestures img:hover{
    /* transform: scale(1.05); */
    opacity: 0.25;
}

.hoverbox:active{
    background-color: whitesmoke;
}

#gameResultCont{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 25px;
}

#gameResult{
    border: 2px solid black;
    border-radius: 15px;
    width: 60%;
    height: 15vh;
    font-size: 35px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#scoreboard{
    border: 2px solid black;
    width: 30%;
    height: 24vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.yourScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.yourScore h2{
    margin: 2px;
}

.computerScore h2{
    margin: 2px;
}

.computerScore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#yourScorePoints{
    border: 2px solid black;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    font-size: 60px;
    text-align:center;
}

#computerScorePoints{
    border: 2px solid black;
    border-radius: 10px;
    width: 75px;
    height: 75px;
    font-size: 60px;
    text-align:center;
}
